.numbers{
    display: flex;
    justify-content: space-between;
}
.signs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}